apiVersion: apps/v1
kind: Deployment
metadata:
  name: search-service
  namespace: prod
spec:
  replicas: 3
  selector:
    matchLabels:
      app: search-service
  template:
    metadata:
      labels:
        app: search-service
    spec:
      containers:
        - name: search
          image: myorg/search-service:latest
          ports:
            - containerPort: 8080
